body {
    background-color: rgb(245, 245, 245);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(11, 15, 21);
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -10px;
    height: 80px;

}

li:hover {
    background-color: rgb(246, 248, 255);
    padding: 6px;
    font-size: large;
}

li.pointer {
    cursor: auto;
}

li {
    display: inline;
    padding: 120px;
    color: rgb(226, 217, 217);
    height: 100px;
    cursor: pointer;
}

.nav {
    text-align: center;
    color: rgb(23, 24, 24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;

}


.fifa22 {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    height: 180px;
    width: 220px;
    position: sticky;
}

.gtaa {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    height: 80px;
    width: 490px;
    position: relative;
}

.cdd {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    height: 80px;
    width: 320px;
    position: relative;
}

.fortnitex {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    height: 75px;
    width: 250px;
    position: relative;
}

.pubgx {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    height: 80px;
    width: 180px;
    position: relative;
}