body {
	background-color: rgb(206, 126, 40);
}

ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: rgb(8, 9, 11);
	margin-right: -7px;
	margin-left: -7px;
	margin-top: -10px;
	height: 80px;

}

li:hover {
	background-color: rgb(206, 126, 40);
	padding: 20px;
}

li.pointer {
	cursor: pointer;
}

li {
	display: inline;
	padding: 120px;
	color: rgb(226, 217, 217);
	height: 100px;
	cursor: pointer;
}

.nav {
	text-align: center;
	color: rgb(6, 8, 8);
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
}


.fifa {
	text-align: center;
	text-size-adjust: 50%;
	margin-top: 5px;
}

.fifa22 {
	text-align: center;
	font-size: 50px;
	font-family: cursive;

	height: 180px;
	width: 220px;
	position: relative;
}

.gta {
	text-align: center;
	text-size-adjust: 100%;
	margin-top: 10px;
}

.gtaa {
	text-align: center;
	font-size: 50px;
	font-family: cursive;
	height: 80px;
	width: 490px;
	position: relative;
}

.cdd {
	text-align: center;
	font-size: 50px;
	font-family: cursive;
	height: 80px;
	width: 320px;
	position: relative;

}

.callofdutyy {
	text-align: center;
	text-size-adjust: 100%;
	margin-top: 10px;
}

.fortnitex {
	text-align: center;
	font-size: 50px;
	font-family: cursive;
	height: 75px;
	width: 250px;
	position: relative;
}

.fortnite {
	text-align: center;
	text-size-adjust: 100%;
	margin-top: 10px;
}

.pubgx {
	text-align: center;
	font-size: 50px;
	font-family: cursive;
	height: 80px;
	width: 180px;
	position: relative;
}

.pubg {
	text-align: center;
	text-size-adjust: 100%;
	margin-top: 10px;
}